table {
    margin-top: 5vh;
    border-collapse: collapse;
    width: 75%;
}

td,
th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
    color: black;
    font-family: Montserrat;
    font-size: 1em;
    text-align: center;
}
#Choose{
    width: 100%;
    height: 5vh;
    margin-top: 5vh;
}
#Choose a{
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-size: 2em;
}